{{!-- CSS frame work? icons? Make prettier delicately --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alternative social</title>
  {{!--
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="navbar">
      <h1 class="navbar-brand">
<<<<<<< HEAD
        <a href="/">Alternative Social</a><img class="butterfly"
          src="https://img.icons8.com/metro/26/000000/butterfly.png" />
=======
        <a href="/">Alternative Social</a><img class="butterfly" src="https://img.icons8.com/metro/26/000000/butterfly.png"/>
>>>>>>> bb3025f0392d16e10da3151fe2de2310213d61a6
      </h1>
      <nav>
        {{#if loggedIn}}
        <img class="card__image" src="/img/default.png" alt="User Profile" text="${{username}}">
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      <div class="wrapper">
        {{{ body }}}
      </div>
    </main>
    <footer>
      Alt social
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>