

<div class="card">
  <img class="card__image" src="/img/default.jpg" alt="User Profile">
  <h1 class="card__title">BeKind-Rewind</h1>
  <div class="card__job">Web Developer</div>
  <p class="card__about">
    Hello, I'm BeKind-Rewind! I am a web developer, often making YouTube Videos, Blog Posts and side projects. Please
    follow me on social @BeKind-Rewind and don't forget to subscribe!
  </p>
  {{!-- This is a fake button for now --}}
  <button type="button" class="btn btn-primary">View Profile</button>
</div>