<div class="card">
  <img class="card__image" src="/img/default.jpg" alt="User Profile">
  <h1 class="card__title">{{username}}</h1>
  <div class="card__job">{{job}}</div>
  <p class="card__about">
    {{about}}
  </p>
  {{!-- This is a fake button for now --}}
  <button type="button" class="btn btn-primary">View Profile</button>
</div>